@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 30 100% 95%;
  --foreground: 30 5% 0%;
  --card: 30 50% 90%;
  --card-foreground: 30 5% 10%;
  --popover: 30 100% 95%;
  --popover-foreground: 30 100% 0%;
  --primary: 30 72% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 30 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -8 30% 85%;
  --muted-foreground: 30 5% 35%;
  --accent: -8 30% 80%;
  --accent-foreground: 30 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 30 5% 90%;
  --border: 30 30% 50%;
  --input: 30 30% 18%;
  --ring: 30 72% 50%;
  --radius: 0.5rem;
}
.dark {
  --background: 30 50% 5%;
  --foreground: 30 5% 90%;
  --card: 30 50% 0%;
  --card-foreground: 30 5% 90%;
  --popover: 30 50% 5%;
  --popover-foreground: 30 5% 90%;
  --primary: 30 72% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 30 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -8 30% 15%;
  --muted-foreground: 30 5% 60%;
  --accent: -8 30% 15%;
  --accent-foreground: 30 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 30 5% 90%;
  --border: 30 30% 18%;
  --input: 30 30% 18%;
  --ring: 30 72% 50%;
  --radius: 0.5rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    90deg,
    #374151,
    #1e293b,
    #27272a,
    #262626,
    #292524,
    #22c55e,
    #262626,
    #27272a,
    #1e293b,
    #374151
  );
  background-size: 500% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: 2.25s linear infinite gradientAnimation;
}

.react-datepicker__tab-loop {
  margin-top: 0px !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* .seat-layout tbody button {
  height: 25px;
  width: 25px;
  margin: 5px 4px;
} */

.seat-layout tbody tr:hover {
  background-color: unset;
}

.seat-layout tbody tr:where(.price-name) {
  margin-bottom: 5px;
}

.seat-layout tbody tr:not(.price-name) {
  border-bottom: unset;
}

.sticky-row-key {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 10;
}
